h1{
     color: red;
}

*{
     font-family: sans-serif;
}

li{
     font-size: larger;
     margin-top: 10px;
     /* list-style: none; */
}

table{
     border: 1px solid blue;
}

td{
     border: 1px solid black;
     width: 100px;
     text-align: center;
     height: 50px;
}

table tr:nth-child(even){
     background-color: red;
}

table tr:nth-child(odd){
     background-color: skyblue;
}

h3{
     color: red;
}
